<h1 align="center">Showing all articles</h1>


  
<% @article.each do |m| %>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
        <div class="article-title">
            <%= link_to m.title, article_path(m) %>
        </div>
        <div class="article-description">
         <%= truncate(m.description, length: 100)%>
           <div class="article-meta-details">
             <small> Created by <%= m.user.username if m.user%>, 
                                <%= time_ago_in_words(m.created_at)%> ago. 
                     Updated at <%= time_ago_in_words(m.updated_at)%></small>
           </div>
        </div>

      <div class="article-actions">
        <%= link_to"edit this article", edit_article_path(m), class:"btn btn-xs btn-success"%>
        <%= link_to "Delete this article", article_path(m), method: :delete, data: { confirm: "Delete this?"}, class:"btn btn-xs btn-danger"%>
      </div>
    </div>
  </div>
</div>
  
  <% end %>
  
