<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar'%>
    <%= render 'layouts/messages' %>
    <div class="container div-check">
      <%= yield %>
    </div>
    <%= render 'layouts/footer'%>
    <%= debug(params) if Rails.env.development? %>
    logged_in<%= debug(logged_in?) if Rails.env.development? %>
     current_user<%= debug(current_user) if Rails.env.development? %>
     @user<%= debug(@user) if Rails.env.development? %>
  </body>
</html>
